<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="attrAddDlg" class="easyui-dialog" title="添加属性" style="width:600px;height:500px;"
     closed="true" data-options="iconCls:'icon-save',resizable:true,modal:true" buttons="#Addbb" >
    <form id="attrAddForm">
        <br/>
        <label>属性名称:</label>
        <input  id="attrAddName" name="attrName" class="easyui-textbox" data-options="editable:false" style="width:100px"/>
        <input  id="attrAddId" name="id" type="hidden"  />
        <br/><br/>
        <table id="AddInfoValueTable" class="easyui-datagrid" title="属性值列表"></table>


    </form>
</div>

<div id="Addbb">
    <a href="#" class="easyui-linkbutton" onclick="addAttrValue()">保存</a>
    <a href="#" class="easyui-linkbutton" onclick="$('#attrAddDlg').dialog('close')">关闭</a>
</div>
</body>
<script language="javascript">
    /*<![CDATA[*/

    function addAttrValue(){
        var addAttrValue = {};

        addAttrValue.id = $("#attrAddId").val();
        addAttrValue.attrName = $("#attrAddName").textbox('getValue');
        addAttrValue.attrValues = $("#AddInfoValueTable").datagrid('getRows');
        console.log(addAttrValue);
        var jsonStr=JSON.stringify(addAttrValue);
        $.ajax({
            url:'attr/addAttrValue',
            type:'POST',
            contentType:'application/json', //必须写
            data:jsonStr,
            processData:false,  //不默认处理数据，否则数据就变成了k=v的方式
            success:function(data){
                alert(data);
                $("#attrAddDlg").dialog('close');
                refreshTable();
                $.messager.alert('成功','恭喜,成功了');
            },
            error:function(){
                alert("有点不对哟。。。");
            }
        })
    }


    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#AddInfoValueTable').datagrid('validateRow', editIndex)){
            $('#AddInfoValueTable').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function onClickCell(index, field){
        if (endEditing()){
            $('#AddInfoValueTable').datagrid('selectRow', index)
                .datagrid('editCell', {index:index,field:field});
            editIndex = index;
        }
    }


    /*]]>*/
</script>